# LLM
OPENAI_API_KEY=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
LLM_MODEL=gpt-4o

# Vector DB
MILVUS_HOST=localhost
MILVUS_PORT=19530

# MLflow
MLFLOW_TRACKING_URI=http://localhost:5000

# App
APP_ENV=development
LOG_LEVEL=INFO